#fastapi[all]==0.63.0
#aiohttp==3.6.2
#pyjwt
#uvicorn
#dynaconf
#pyodbc
#numpy
#motor

fastapi[all]==0.94.0
uvicorn==0.21.0
pyodbc==4.0.35
multidict==6.0.4
aiohttp==3.8.4
sortedcontainers==2.4.0
typing_extensions==4.5.0
pyjwt==2.6.0
dynaconf==3.1.12
motor==3.1.1
pydantic==1.10.6
numpy==1.21.6
python-dateutil==2.8.2

# estava assim antes do Ubuntu 22.04 (09/03/23)
#pyodbc
#multidict==6.0.2
#aiohttp==3.8.1
#sortedcontainers==2.4.0
#typing_extensions==4.3.0
#pyjwt==2.4.0
#dynaconf==3.1.9
#motor==3.0.0
#motor==2.3.0
#pydantic==1.9.2
#numpy==1.21.6
#python-dateutil==2.8.2